body {
  transition: background-color 0.4s ease-in-out;
}

.text-dark {
  color: var(--text-color-dark);
}

.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 2rem;
}

.heading-text {
  font-size: 42px;
  margin: 0;
  font-weight: bold;
}

.subheading-text {
  font-weight: normal;
  font-size: 18px;
  margin: 4px 0 0;
}

.section-heading-centre {
  text-align: center;
  margin-top: 4rem;
  width: 100%;
}

.section-heading-left {
  text-align: left;
  margin-top: 4rem;
  width: 100%;
}

@media (min-width: 650px) {
  .heading-text {
    font-size: 72px;
  }
  .subheading-text {
    font-size: 22px;
  }
}
