/* @font-face {
  font-family: ;
  src: url() format("truetype");
} */

:root {
  --background-dark: #012145;
  --background-medium: #215289;
  --background-light: #4083cc;
  --background-white: #ffffff;
  --text-color-light: #ffffff;
  --text-color-dark: #012145;
}

body {
  background-color: var(--background-dark);
  color: var(--text-color-light);
  width: 100vw;
  height: auto;
  margin: 0;
}

html,
body {
  overflow-y: scroll; /* Allows scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
