@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --background-dark: #012145;
  --background-medium: #215289;
  --background-light: #4083cc;
  --background-white: #ffffff;

  --text-color-light: #ffffff;
  --text-color-dark: #092040;

  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;

  --pale-blue: #e7edf3;
  --google-yellow: #fabd05;
}

body {
  background-color: var(--background-dark);
  color: var(--text-color-light);
  width: 100vw;
  height: auto;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  overflow-y: scroll; /* Allows scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
